// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

*{
  box-sizing: border-box;
}

.box-wrapper{

  width: 60%;
  display: flex;
  flex-wrap: wrap;


  .box{


    border: 4px solid $indigo;

    border-radius: 20px;
    margin-bottom: 20px;

    font-size: 1.1rem;

    color: grey;
    text-transform: capitalize;

    width: calc(100vw / 2 - 10px);

    padding: 20px;

    position: relative;
    span{
      font-weight: bold;

    }

    a{
      color: $purple;

      margin-right: 10px;
      padding: 5px;

      background-color: $orange;
      border-radius: 10px;

      &:hover{
        text-decoration: none;
        text-shadow: 2px;
        color: white;
      }

    }

    .img_profile{

      width: 75px;
      height: 75px;

      position: absolute;
      top: 20px;
      right: 20px;

      border-radius: 50%;

      img{
        border-radius: 50%;
        width: 100%;
        height: 100%;
      }
    }
  }
}
